footer, footer a {
    text-align: center;
    color: lightgray;
    margin-bottom: 0.5em;
  }
  
  @media (max-width: 450px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  