.logo-and-result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20em;
    padding: 1em 1.5em;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 1em;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em 1.5em;
    background: white;
    color: hsl(229, 64%, 46%);
    border-radius: 0.5em;
    font-weight: 700
}

.result {
    display: flex;
    font-size: 1.5em;
    gap: 0.5em;
    color: hsl(229, 25%, 31%)
}

.result div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result div p:last-child {
    font-size: 2em
}

@media (max-width: 800px){
    .logo-and-result-container{
        gap: 15em
    } 
}

@media (max-width: 700px){
    .logo-and-result-container{
        gap: 10em
    } 
}

@media (max-width: 650px){
    .logo-and-result-container{
        gap: 5em
    } 
}

@media (max-width: 550px){
    .logo-and-result-container{
        gap: 3em
    } 
}

@media (max-width: 500px){
    .logo-and-result-container{
        gap: 2em
    } 

    .result {
        font-size: 1.2em;
    }

    .result div p:last-child {
        font-size: 1.5em
    }
}

@media (max-width: 450px) {
    .logo-and-result-container{
        gap: 1em
    }
    
    .img-container {
        width: 50%;
    }    

    .result {
        font-size: 1em;
    }

    .result div p:last-child {
        font-size: 1.2em
    }
}

@media (max-width: 400px) {
    .logo-and-result-container{
        margin: 0 0.5em;
    }
    
    .img-container {
        width: 40%;
    }    
}

