.logo-and-result-container {
    display: flex;
    gap: 20em;
    padding: 1em 1.5em;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 1em;
    font-weight: 600
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 3em;
    background: white;
    color: hsl(229, 64%, 46%);
    border-radius: 0.5em;
}

.result {
    font-size: 4em;
    font-weight: 700;
    color: hsl(229, 25%, 31%)
}