.game-area {
    display: flex;
    justify-content: center;
}

.triangle-container {
    position: relative;
    width: 50%;
}

.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 250px;             
    height: 250px; 
    border-radius: 50%; 
    cursor: pointer;   
  }

.circle img {
    width: 60%;
    height: 60%;
}

.paper {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border: 1.5em solid hsl(230, 89%, 62%);
}

.scissors {
    top: 0;              
    right: 0;          
    transform: translate(50%, -50%);
    border: 1.5em solid hsl(39, 89%, 49%)
}

.rock {
    top: 100%;            
    right: 50%;               
    transform: translate(50%, -50%);
    border: 1.5em solid hsl(349, 71%, 52%)
}

.choices {
    display: flex;
    gap: 3em
}

.reset-button {
    cursor: pointer;   
    text-transform: uppercase;
    background: hsl(214, 47%, 23%);
    padding: 0.5em 2em;
    border: 3px solid lightgray;
    color: lightgray;
    border-radius: 0.5em;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease; 
}

.reset-button:hover {
    background: lightgray;
    color:hsl(214, 47%, 23%);
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: lightgray
}

.header {
    text-align: center;
}

.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}