.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 200px;             
    height: 200px; 
    border-radius: 50%; 
    cursor: pointer;   
  }

.circle img {
    width: 60%;
    height: 60%;
}

.paper {
    border: 1.3em solid hsl(230, 89%, 62%);
}

.scissors {
    border: 1.3em solid hsl(39, 89%, 49%)
}

.rock {
    border: 1.3em solid hsl(349, 71%, 52%)
}