.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;             
    height: 250px; 
    border-radius: 50%; 
    cursor: pointer;   
    background: white;
  }

.circle img {
    width: 60%;
    height: 60%;
}

.paper {
    border: 0.7em solid hsl(230, 89%, 62%);
}

.scissors {
    border: 0.7em solid hsl(39, 89%, 49%)
}

.rock {
    border: 0.7em solid hsl(349, 71%, 52%)
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;             
    height: 250px; 
    border-radius: 50%; 
    background: hsl(237, 49%, 15%);
}

.loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% { background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%; }
    50% { background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%; }
    66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%; }
}

@media (max-width: 600px) {
    .circle, .empty {
        width: 200px;             
        height: 200px; 
    }
}

@media (max-width: 450px) {
    .circle, .empty {
        width: 150px;             
        height: 150px; 
    }

    .paper, .scissors, .rock {
        border-width: 0.5em;
    }
}

@media (max-width: 370px) {
    .circle, .empty {
        width: 120px;             
        height: 120px; 
    }
}

@media (max-width: 300px) {
    .circle, .empty {
        width: 100px;             
        height: 100px; 
    }
}



